<div fxLayout="column wrap"
     fxLayout.gt-xs="row"
     fxLayoutGap="2%">
  <div fxFlex="100">
    <mat-card *ngIf="selectedEvent"
              class="card infocard"
              [class.xs]="['card-xs', 'infocard-xs']">
      <mat-card-header class="card-header">
        <h3>
          Tidsregistrering af event '{{selectedEvent.name}}'
        </h3>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="column wrap"
             fxLayout.gt-xs="row"
             fxLayoutGap="2%">
          <div fxFlex="30">
            <h3>Eventinfo</h3>
            <mat-list>
              <mat-list-item>
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h4 mat-line>Eventleder</h4>
                <p mat-line>{{selectedEvent.eventLeader}}</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>pin_drop</mat-icon>
                <h4 mat-line>Kunde</h4>
                <p mat-line>{{selectedEvent.eventLocation}} - {{selectedEvent.eventAdress}}</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>access_time</mat-icon>
                <h4 mat-line>Tidspunkt</h4>
                <p mat-line> Fra  {{selectedEvent.dateFrom | date: 'E dd.MM.yyyy HH:mm'}} </p>
                <p mat-line> Til  {{selectedEvent.dateTo | date: 'E dd.MM.yyyy HH:mm'}} </p>
              </mat-list-item>
              <!--
              <mat-list-item>
                <mat-icon mat-list-icon>date_range</mat-icon>
                <h4 mat-line>Dato</h4>
                <p mat-line>{{selectedEvent.dateFrom | date: 'Den dd. MMMM yyyy'}}</p>
              </mat-list-item>
              -->
              <mat-list-item>
                <mat-icon mat-list-icon>notes</mat-icon>
                <h4 mat-line>Team beskrivelse</h4>
                <p mat-line>{{selectedEvent.teamComment}}</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>notes</mat-icon>
                <h4 mat-line>Event beskrivelse</h4>
                <p mat-line>{{selectedEvent.eventDescription}}</p>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>business</mat-icon>
                <h4 mat-line>Kunde</h4>
                <p mat-line>{{selectedEvent.customer}} - {{selectedEvent.contactInfo}}</p>
              </mat-list-item>
            </mat-list>
          </div>
          <div fxFlex="70">
            <h3>{{selectedEvent.booked ? 'Medarbejder på dette event' : 'Ingen medarbejder på dette
              event'}}</h3>
            <div *ngIf="selectedEvent.booked"
                 fxLayout="column wrap"
                 fxLayout.gt-xs="row wrap"
                 fxLayoutGap="2%">
              <div fxFlex="100"
                   fxFlex.gt-md="25"
                   *ngFor="let bookedEmployee of selectedEvent.booked">
                <mat-card *ngIf="bookedEmployee"
                          class="card infocard"
                          [class.xs]="['card-xs', 'infocard-xs']">
                  <mat-card-content>
                      <img mat-card-image
                      *ngIf="bookedEmployee.photoURL"
                      [src]="bookedEmployee.photoURL">

                      <img mat-card-image
                      *ngIf="!bookedEmployee.photoURL"
                      src="assets/img/profile.png">

                    <mat-card-title>{{bookedEmployee.displayName}}</mat-card-title>
                    <mat-card-subtitle>{{bookedEmployee.email}}</mat-card-subtitle>
                    <p>
                      {{bookedEmployee.comment}}
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button [disabled]="selectedEvent.payoutDone"
                            mat-mini-fab
                            (click)="addToPayout(bookedEmployee)"
                            matTooltip="Tidsregistrering for {{bookedEmployee.displayName}}">
                      <mat-icon>access_time</mat-icon>
                    </button>
                  </mat-card-actions>
                </mat-card>
              </div>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column wrap"
             fxLayout.gt-xs="row"
             fxLayoutGap="2%">
          <div fxFlex
          fxLayoutGap="20px">
            <mat-table #table
                       [dataSource]="dataSource">

              <!-- Name Column -->
              <ng-container matColumnDef="employee">
                <mat-header-cell *matHeaderCellDef> Medarbejder </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{row.employeeName}}
                </mat-cell>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="timeFrom">
                <mat-header-cell class="wide" *matHeaderCellDef>  Starttidspunkt </mat-header-cell>
                <mat-cell class="wide" *matCellDef="let row">
                  <input type="datetime-local"
                           
                         [disabled]="selectedEvent.payoutDone"
                         (keyup)="updatePayout(row)"
                         (change)="updatePayout(row)"
                         [(ngModel)]="row.dateFrom"
                         [value]="row.dateFrom" />
                </mat-cell>
              </ng-container>

              <!-- Date Column -->
              <ng-container matColumnDef="timeTo">
                <mat-header-cell class="wide" *matHeaderCellDef>  Sluttidspunkt </mat-header-cell>
                <mat-cell class="wide" *matCellDef="let row">
                  <input type="datetime-local"
                         
                         [disabled]="selectedEvent.payoutDone"
                         (keyup)="updatePayout(row)"
                         (change)="updatePayout(row)"
                         [(ngModel)]="row.dateTo"
                         [value]="row.dateTo" />
                </mat-cell>
              </ng-container>

              <!-- Hours Column -->
              <ng-container matColumnDef="hours">
                <mat-header-cell class="short-timer" *matHeaderCellDef> Timer </mat-header-cell>
                <mat-cell class="short-timer" *matCellDef="let row">
                  {{row.hours}} timer
                </mat-cell>
              </ng-container>

              <!-- Wager Column -->
              <ng-container matColumnDef="wager">
                <mat-header-cell class="short-lon" *matHeaderCellDef> Løn-niveau </mat-header-cell>
                <mat-cell class="short-lon" *matCellDef="let row">
                  {{row.wager}}
                </mat-cell>
              </ng-container>

              <!-- Wager Column -->
              <ng-container matColumnDef="wagerList">
                <mat-header-cell *matHeaderCellDef> Vælg andet niveau </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <mat-form-field>
                    <mat-select placeholder="Løn-niveau"
                                (change)="updatePayout(row)"
                                [(value)]="row.wager">
                      <mat-optgroup *ngFor="let parrent of wagerList"
                                    [label]="parrent.name"
                                    [disabled]="selectedEvent.payoutDone">
                        <mat-option *ngFor="let wager of parrent.wager"
                                    (click)="updatePayout(row)"
                                    [value]="wager.value">
                          {{ wager.name }} ({{wager.value}})
                        </mat-option>
                      </mat-optgroup>
                    </mat-select>
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <!-- Bonus Column -->
              <ng-container matColumnDef="bonus">
                <mat-header-cell class="short-bonus" *matHeaderCellDef> Ekstra </mat-header-cell>
                <mat-cell class="short-bonus" *matCellDef="let row">
                  <mat-form-field class="example-full-width">
                    <input type="number"
                           matInput
                           placeholder="Bonus"
                           (change)="updatePayout(row)"
                           [(ngModel)]="row.bonus">
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <!-- Comment Column -->
              <ng-container matColumnDef="comment">
                <mat-header-cell class="short-comment" *matHeaderCellDef> Kommentar </mat-header-cell>
                <mat-cell class="short-comment" *matCellDef="let row">
                  <mat-form-field class="example-full-width">
                    <input type="text"
                           matInput
                           placeholder="Kommentar"
                           (change)="updatePayout(row)"
                           [(ngModel)]="row.comment">
                  </mat-form-field>
                </mat-cell>
              </ng-container>

              <!-- Sum Column -->
              <ng-container matColumnDef="sum">
                <mat-header-cell class="short" *matHeaderCellDef> Sum </mat-header-cell>
                <mat-cell class="short" *matCellDef="let row"
                          (keyup)="updatePayout(row)">
                  {{row.sum | currency: 'DKK'}}
                </mat-cell>
              </ng-container>

              <!-- Payout Done Column -->
              <ng-container matColumnDef="selection">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button mat-mini-fab
                          class="nogo"
                          [disabled]="selectedEvent.payoutDone"
                          matTooltip="Fjern {{row.displayName}}"
                          (click)="removePayout(row)">
                    <mat-icon>remove_circle</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"
                       class="row"></mat-row>
            </mat-table>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button
                color="primary"
                (click)="update()"
                [disabled]="selectedEvent.payoutDone">GEM ÆNDRINGER</button>
        <button mat-raised-button
                *ngIf="!selectedEvent.payoutDone"
                (click)="payoutDone()">FÆRDIG MED TIMEREGISTRERING</button>
        <button mat-raised-button
                *ngIf="selectedEvent.payoutDone && isAdmin()"
                (click)="payoutOpen()">GENÅBN TIMEREGISTRERING</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
