<div fxLayout="column wrap" fxLayout.gt-xs="row" fxLayoutGap="2%">
    <div fxFlex="100" fxFlex.gt-md="50">
        <mat-card *ngIf="wagerList" class="card infocard" [class.xs]="['card-xs', 'infocard-xs']">
            <mat-card-header class="card-header">
                <h3>
                    Løn-niveauer
                </h3>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Løn-niveau navn" [(ngModel)]="wager.name">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Løn-niveau takst" type="number" [(ngModel)]="wager.value">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="create()" [disabled]="!wager.name">OPRET LØNNIVEAU</button>
                <mat-list>
                    <mat-list-item *ngFor="let wager of wagerList">
                        <mat-icon mat-list-icon (click)="delete(wager)">delete</mat-icon>
                        <h4 mat-line>{{wager.name}}</h4>
                        <p mat-line> {{wager.value | number}} </p>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>