<div *ngIf="loading">
  <div fxLayout="row"
       fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<div class="table-overflow"
     *ngIf="!loading && list?.length">
  <div class="container">
    <mat-table #table
               [dataSource]="dataSource">

      <!-- Name Column -->
      <ng-container matColumnDef="employeeName">
        <mat-header-cell *matHeaderCellDef> Medarbejder </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.employeeName}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="eventName">
        <mat-header-cell *matHeaderCellDef> Event </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{row.event.name}}
        </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Dato 1 </mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.date | date: 'Den dd. MMMM yyyy'}}</mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef> Lokation </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.event?.eventLocation">
            {{row.event.eventLocation}}
          </span>
          <span *ngIf="!row.event?.eventLocation && !row.event?.eventAdress">
            Ikke tilgænglig endnu
          </span>
          <span *ngIf="row.event?.eventAdress">
            {{row.event.eventAdress}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- eventleader Column -->
      <ng-container matColumnDef="eventleader">
        <mat-header-cell *matHeaderCellDef> Eventleder </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span *ngIf="row.event?.eventLeader">
            {{row.event.eventLeader ? row.event.eventLeader : 'Ingen leder tilknyttet'}}
          </span>
        </mat-cell>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="comments">
        <mat-header-cell *matHeaderCellDef> Kommentar </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.comments ? row.comments : 'Ingen kommentar'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               class="row"
               (click)="gotoEvent(row.eventUid)"></mat-row>
    </mat-table>
  </div>
</div>
<div *ngIf="!loading && !list?.length">
  <h3>Du har ingen kommende events du er tilknyttet</h3>
</div>
