<div fxLayout="column" fxLayoutAlign="space-between center">
    <mat-card class="login-card">
        <div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="space-between center">
            <div fxFlex>
                <h1>
                    Opret bruger 
                </h1>
            </div>
            <div fxFlex>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Email" alt="email" [(ngModel)]="email">
                    <button mat-button *ngIf="email" matSuffix mat-icon-button aria-label="Clear" (click)="email=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="full-width">
                    <input matInput type="password" alt="password" placeholder="Password" [(ngModel)]="password">
                    <button mat-button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div fxFlex>
                <mat-form-field class="full-width">
                    <input matInput type="password" alt="repeatPassword" placeholder="Repeat Password" [(ngModel)]="repeatPassword">
                    <button mat-button *ngIf="repeatPassword" matSuffix mat-icon-button aria-label="Clear" (click)="repeatPassword=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div fxFlex>
                <p class="validation">{{validation}}</p>
                <button class="login-button" 
                        mat-raised-button [disabled]="!email || !password || !repeatPassword" 
                        (click)="createLogin()" 
                        id="bruger">Opret bruger
                </button>
            </div>
        </div>
    </mat-card>
</div>