<mat-card class="card infocard"
          [class.xs]="['card-xs', 'infocard-xs']">
  <mat-card-header class="card-header">
    <h3>
      Opret Begivenhed
    </h3>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Kunde"
             [(ngModel)]="event.name"
             name="eventname">
    </mat-form-field>
    <mat-form-field class="full-width"
                    *ngIf="eventTypeList">
      <mat-select placeholder="Event-type"
                  [(value)]="event.eventType">
        <mat-option [style.background]="eventType.color"
                    style="color:white;"
                    (click)="event.eventTypeColor = eventType.color"
                    *ngFor="let eventType of eventTypeList"
                    [value]="eventType.name">
          <h4>
            {{eventType.name}}
          </h4>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput
             placeholder="Antal kunder"
             [(ngModel)]="event.numberOfCustomer"
             name="kunder">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
             placeholder="Antal hold"
             [(ngModel)]="event.numberOfTeam"
             name="numberOfTeam">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
             placeholder="Rollebesætning"
             [(ngModel)]="event.crew"
             name="crew">
    </mat-form-field>

    <div fxLayout="column wrap"
         fxLayout.gt-xs="row"
         fxLayoutGap="2%">
      <div fxFlex>
        <mat-form-field class="full-width">
          <textarea class="comment"
                    matInput
                    placeholder="Event beskrivelse"
                    [(ngModel)]="event.eventDescription"
                    name="comment"></textarea>
        </mat-form-field>
      </div>
      <div fxFlex>

        <mat-form-field class="full-width">
          <textarea class="comment"
                    matInput
                    placeholder="Tidsplan"
                    [(ngModel)]="event.timeline"
                    name="timeline"></textarea>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field class="full-width">
      <input matInput
             type="number"
             placeholder="Antal medarbejdere på event (kun heltal)"
             [(ngModel)]="event.staffNeed"
             name="eventname">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select placeholder="Eventleder"
                  [(value)]="event.eventLeader">
        <mat-option *ngFor="let employee of leaderList"
                    (click)="event.eventLeaderId = employee.uid"
                    [value]="employee.displayName">
          {{employee.displayName}} ({{getRoleText(employee.role)}})
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width"
                    *ngIf="isAdminOrEventLeader()">
      <input matInput
             placeholder="Info til eventleder"
             [(ngModel)]="event.eventLeaderInfo"
             name="eventLeaderInfo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput
             placeholder="Sagsnr"
             [(ngModel)]="event.eventNumber"
             name="eventNumber">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-select [(value)]="event.billInfo">
        <mat-option value="">Ingen fakturing udført</mat-option>
        <mat-option value="0%">0%</mat-option>
        <mat-option value="10%">10%</mat-option>
        <mat-option value="20%">20%</mat-option>
        <mat-option value="30%">30%</mat-option>
        <mat-option value="40%">40%</mat-option>
        <mat-option value="50%">50%</mat-option>
        <mat-option value="60%">60%</mat-option>
        <mat-option value="70%">70%</mat-option>
        <mat-option value="80%">80%</mat-option>
        <mat-option value="90%">90%</mat-option>
        <mat-option value="100%">100%</mat-option>
        <mat-option value="Færdig">Færdig</mat-option>
      </mat-select>
    </mat-form-field>


    <mat-divider></mat-divider>




    <h3>Tid og sted</h3>
    <div fxLayout="column wrap"
         fxLayout.gt-xs="row"
         fxLayoutGap="2%">
      <div fxFlex>
        <h5>Start tidspunkt</h5>
        <input type="datetime-local"
               [(ngModel)]="event.dateFrom" />
      </div>

      <div fxFlex>
        <h5>Slut tidspunkt</h5>
        <input type="datetime-local"
               [(ngModel)]="event.dateTo" />
      </div>
      
    </div>
    <div fxLayout="column wrap"
         fxLayout.gt-xs="row"
         fxLayoutGap="2%">
      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Lokation"
                 [(ngModel)]="event.eventLocation"
                 name="eventlocation">
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Adresse på lokation"
                 [(ngModel)]="event.eventAdress"
                 name="eventadress">
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <h3>Kontaktoplysninger</h3>
    <div fxLayout="column wrap"
         fxLayout.gt-xs="row"
         fxLayoutGap="2%">
      <div fxFlex>
        <mat-form-field class="full-width">
          <input matInput
                 placeholder="Kundekontakt"
                 [(ngModel)]="event.customer"
                 name="customer">
        </mat-form-field>
      </div>
      <div fxFlex>
        <mat-form-field class="full-width">
          <textarea matInput
                    placeholder="Lokationkontakt"
                    [(ngModel)]="event.contactInfo"
                    name="contactInfo"></textarea>
        </mat-form-field>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
            color="primary"
            [disabled]="!event.dateFrom"
            (click)="create()">OPRET BEGIVENHED</button>
    <!-- <button mat-raised-button color="warn">SLET BEGIVENHED</button> -->
  </mat-card-actions>
</mat-card>
